table {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  margin-bottom: 10px;
  border:  1px solid var(--light-border);
}
td {
  padding: 0 10px;
}
td.key {
  /*text-transform: capitalize;*/
  background: var(--light-background);
}
tr:hover td {
  background: var(--accent);
  color: var(--light-background);
}
table table {
  display: table;
}
table table tr:hover td.value {
  background: var(--light-background);
}
table table tr:hover td.key {
  background: #fff;
}
