svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
}

text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

path {
  shape-rendering: crispEdges;
}

.grid.x .domain,
.grid.x .tick line {
  stroke: transparent;
}

.axis .tick text,
.axis text.label {
  fill: #2C3E50;
}

.axis .domain,
.axis .tick line {
  stroke: #2C3E50;
}

.shapes path {
  fill: none;
  stroke: #2C3E50;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.shapes circle {
  fill-opacity: 0.5;
}
