:root {
  --iceblue-70: #033b55;
  --iceblue-60: #24647b;
  --iceblue-50: #4d99a6;
  --iceblue-40: #7cb8c2;
  --iceblue-30: #9bc9d0;
  --iceblue-20: #bbdade;
  --iceblue-10: #d9f5f2;
  --icewhite: #fefefe;
  --usain-hair: #51442c;
  --usain-skin: #774422;
  --usain-lips: #cb8889;
  --rolland-garros: #ad7769;
  --dirt: #997755;
  --jamaica: #f9cc11;
  --mustard: #ebdd55;
  --greenish-white: #edffdd;
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--icewhite);
  background-color: var(--iceblue-70);
}
h1, h2 { margin:0; margin-bottom: 50px }
h1 { font-size: 4.5rem }
h2 { font-size: 3rem }

.screen:nth-child(3) {
	background-color: var(--iceblue-60);
}
.screen:nth-child(4) {
	background-color: var(--iceblue-50);
}
.screen:nth-child(5) {
	background-color: var(--iceblue-40);
}
.screen:nth-child(6) {
	background-color: var(--iceblue-30);
}
.screen:nth-child(7) {
	background-color: var(--iceblue-20);
}
.screen:nth-child(8) {
	background-color: var(--iceblue-10);
}
