:root {
  --iceblue: #003C55;
  --iceblue-step1: #1A566F;
  --iceblue-step2: #336F88;
  --iceblue-step3: #4D89A2;
  --iceblue-step4: #66A2BB;
  --icewhite: #fefefe;

  --usain-hair: #51442c;
  --usain-skin: #774422;
  --usain-lips: #cb8889;
  --rolland-garros: #ad7769;
  --dirt: #997755;
  --jamaica: #f9cc11;
  --mustard: #ebdd55;
  --greenish-white: #edffdd;
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: calc(1em + 1vw);
  font-weight: 400;
  color: var(--icewhite);
  background-color: var(--iceblue);
}
h1, h2 { margin:0; margin-bottom: 50px }
h1 { font-size: 4.5rem }
h2 { font-size: 3rem }
button { font-size: 1rem; }

.screen:nth-child(3) {
	background-color: var(--iceblue-step1);
}
.screen:nth-child(4) {
	background-color: var(--iceblue-step2);
}
.screen:nth-child(5) {
	background-color: var(--iceblue-step3);
}
.screen:nth-child(6) {
	background-color: var(--iceblue-step4);
}
.screen:nth-child(7) {
	background-color: var(--iceblue-step5);
}
