:root {
  --iceblue: #003C55;
  --iceblue-step1: #1A566F;
  --iceblue-step2: #336F88;
  --iceblue-step3: #4D89A2;
  --iceblue-step4: #66A2BB;
  --icewhite: #fefefe;
  --usain-hair: #51442c;
  --usain-skin: #774422;
  --usain-lips: #cb8889;
  --rolland-garros: #ad7769;
  --dirt: #997755;
  --jamaica: #f9cc11;
  --mustard: #ebdd55;
  --greenish-white: #edffdd;
  --primary: var(--jamaica);
  --accent: #fff;
  --color: rgba(255, 255, 255, .9);
  --background: var(--iceblue-step1);
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: calc(1em + 1vw);
  font-weight: 400;
  color: var(--color);
  /*background: var(--background);*/
}
svg {
  fill: var(--color);
}
h1, h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  font-size: 2rem;
  color: var(--accent);
}
h2 {
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
}

.first-screen {
  background-color: var(--iceblue-step1);
}
/*.screen:nth-of-type(2) {
  background-color: var(--iceblue-step1);
}
.screen:nth-of-type(3) {
  background-color: var(--iceblue-step2);
}
.screen:nth-of-type(4) {
  background-color: var(--iceblue-step3);
}
.screen:nth-of-type(5) {
  background-color: var(--iceblue-step4);
}
.screen:nth-of-type(5) {
  background-color: var(--iceblue-step5);
}*/
/*.step:nth-of-type(1){
  background-color: var(--iceblue-step2)
}
.step:nth-of-type(2){
  background-color: var(--iceblue-step3)
}
.step:nth-of-type(3){
  background-color: var(--iceblue-step4)
}*/
.button-ghost {
  display: inline-block;
  margin: 5px 10px;
  padding: 8px;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;
  background: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.button-ghost:hover, .button-ghost:active {
  color: var(--accent);
  border-color: var(--accent);
}

.nav {
  display: none;
}
@media screen and (min-width: 30em) {
  .nav {
    display: inherit;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h1, h2 {
    margin-bottom: 50px;
  }
}
.input-primary {
  /*display: none;*/

  padding:0;
  width: 0;
  opacity: 0;
  transition: all 500ms ease;
}
.form-demo.opened .input-primary {
  /*display: inline-block;*/
  padding:1rem;
  width: 21rem;
  opacity: 1;
}

.d3-chart {
  position: relative;
}
.d3-chart span {
  z-index: 1;
  top: -12px;
}
