@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
[v-cloak] {
  display: none;
}
:root {
  --text: #273446;
  --text-light: #526a80;
  --text-lighter: #636F7E;
  --primary: #41c4fa;
}
body {
  font-family: Lato, Open Sans, Segoe UI, sans-serif;
  color: var(--text);
  font-size: 16px;
  /*background:rgba(36, 187, 249, 0.04);
  background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.14), rgba(36, 187, 249, 0.04));*/
}
h1 {
  font-weight: 400;
  font-size: 45px;
  line-height: 1.33;
  margin-bottom: 30px;
}
h2 {
  font-weight: normal;
  text-align: center;
  font-size: 28px;
}
h3 {
  color: var(--text-lighter);
  font-variant: small-caps;
  font-weight: bold;
}
h4 {
  color: var(--text-lighter);
}
.home .title {
  margin-top: 10%;
  margin-left: calc(5% + 80px);
}
.home .sub-title {
  font-size: 20px;
  color: var(--text-lighter);
}
em, .color {
  color: var(--primary);
}
.home {
  padding-top: 10px;
  position: relative;
  width: 100%;
  /*max-width:1600px;*/
  height: 80vh;
}
.home, .step2 {
  background: rgba(36, 187, 249, 0.04);
  background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.14), rgba(36, 187, 249, 0.04));
}
.step {
  position: relative;
  padding-top: 70px;
  width: 100%;
}
.step1 h2 {
  margin-bottom: 80px;
}
.step2 h2 {
  margin-bottom: 20px;
}
.step2 {
  height: 160vh;
}
.step2 .bottom-img {
  position: absolute;
  width: 60%;
  max-width: 1200px;
  /*height:400px;*/
  bottom: 0;
  left: 20%;
  /*background: #eef3f6;*/
}
.step2 .bottom-img img {
  height: auto;
  width: 100%;
}
.step .content {
  padding-left: calc(5% + 80px);
  padding-right: calc(5% + 80px);
  width: 100%;
  text-align: center;
}
.step .content .text {
  margin-bottom: 30px;
  color: var(--text-lighter);
}
.step2 .sub-title {
  text-align: center;
  margin-bottom: 80px;
}
.step2 .subtext, .step2 h4 {
  width: 200px;
  margin: auto;
  text-align: left;
}
.step2 h4 {
  margin-bottom: 15px;
}
.step3 .icon {
  width: 60px;
  height: 60px;
}
footer .icon {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}
footer .icon {
  margin: 10px;
}
.step3 .block {
  text-align: left;
}
.step3 h2 {
  margin-bottom: 80px;
}
.step3 h3 {
  margin-bottom: 10px;
}
.step3 .block .inside {
  width: 300px;
  margin: auto;
}
.step3 .row {
  margin-bottom: 50px;
}
.step4 {
  background: #edf2f5;
  text-align: center;
  min-height: 250px;
}
footer {
  text-align: center;
}
footer .social-media {
  width: 170px;
  margin: auto;
}
footer .subtext {
  font-size: 13px;
  margin: 20px auto;
  max-width: 800px;
}
.nav {
  position: relative;
  height: 50px;
  font-size: 16px;
  width: 100%;
}
.background-img {
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 40%;
}
.background-img img {
  height: 100%;
  width: auto;
}
.nav .logo {
  margin-left: 5%;
  height: 100%;
  width: auto;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.nav img {
  height: 50%;
  width: auto;
  vertical-align: middle;
}
.nav .nav-right {
  position: absolute;
  right: 5%;
  margin: 6px;
}
.nav .lang {
  position: absolute;
  right: 3%;
  top: 12px;
}
.lang svg {
  width: 24px;
  height: 16px;
  cursor: pointer;
}
.nav-right a {
  padding: 5px 12px;
  border-radius: 2px;
  margin-right: 35px;
  cursor: pointer;
}
.nav-right a:hover {
  background-color: rgba(36, 187, 249, 0.1);
}
a.button {
  padding: 5px 12px;
  border-radius: 2px;
  background-color: rgba(36, 187, 249, 0.1);
  color: var(--primary);
  cursor: pointer;
}
.button.alt {
  background: #ffffff;
  font-weight: 400;
}
.button.alt:hover {
  color: #ffffff;
}
a.button:hover {
  background-color: rgba(36, 187, 249, 0.2);
  text-decoration: none;
}
.before-100m img {
  padding-right: 30px;
  border-right: 2px solid rgb(219, 240, 251);
  margin-right: -15px;
  width: 400px;
}
.after-100m img {
  margin-left: 20px;
  width: 500px;
}
