html, body {
  margin: 0;
}
.nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
}
.nav a {
  position: fixed;
  bottom: 0;
  right: -40px;
}
.nav a:hover {
  fill: url(#effect)
}
.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.what {
  position: absolute;
  top: 0;
  left: 0;
}
.step {
  padding: 3rem;
}
.step-number {
  padding: .5rem;
  text-align: center;
  margin: 1rem;
  border: 1px solid var(--icewhite);
}
.step-desc {
  margin: 1rem;
  width: 100%;
}
.button-ghost {
  display: inline-block;
  margin: 5px 10px;
  padding: 8px;
  color: var(--icewhite);
  background-color: transparent;
  border: 1px solid var(--icewhite);
  text-align: center;
  outline: none;
  text-decoration: none;
}
.button-ghost:hover, .button-ghost:active {
  color: var(--iceblue);
  background-color: var(--icewhite);
}
.button-primary {
  display: inline-block;
  padding: 1rem;
  color: var(--iceblue);
  background-color: var(--jamaica);
  border: 1px solid var(--jamaica);
  border-radius: 2px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.button-primary:hover, .button-primary:active {
  background-color: var(--mustard);
}
