html, body {
  margin: 0;
}
.nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
}
.nav a {
  position: fixed;
  bottom: 0;
  right: -40px;
}
.nav a:hover {
  fill: url(#effect)
}
.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.what {
  position: absolute;
  top: 0;
  left: 0;
}
.step {
  padding: 3rem;
}
.step-number {
  padding: .5rem;
  text-align: center;
  margin: 1rem;
  border: 1px solid var(--icewhite);
}
.step-desc {
  margin: 1rem;
  width: 100%;
}
