.shapes> circle:nth-last-child(1) {
  r: 5;
  fill: black;
}

#chart-months .grid.x .domain {
  fill: #d3d3d3;
  stroke: none;
}

#chart-months .axis.x .domain,
#chart-months .grid.x .tick line {
  stroke: #fff;
}

#chart-cds-and-stock .axis.y text {
  fill: #16a085;
}
/*#chart-cds-and-stock .axis.y .domain,
#chart-cds-and-stock .axis.y .tick line  {
  stroke: #16a085;
}*/

#chart-cds-and-stock .axis.y2 text {
  fill: #f39c12;
}
/*#chart-cds-and-stock .axis.y2 .domain,
#chart-cds-and-stock .axis.y2 .tick line  {
  stroke: #f39c12;
}*/

path.stock_adj_close {
  stroke: #16a085;
}

path.cds_close {
  stroke: #f39c12;
}

path.avol_close {
  stroke: #2980b9;
}

path.avol_prediction {
  stroke: #c0392b;
}

circle.stock_adj_close {
  fill: #8e44ad;
}

circle.stock_pctchg_30 {
  fill: #27ae60;
}
