<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>APOLLO</title>
  <!--
  Apollo is a support analysis tool

  Retrieve information from:
  - N board support

  Support board template:
  - Roadmap
  - Bug Fixes
  - Doing
  - Done

  Display information of:
  - # cards without assignee / eta / estimate
  - # cards with past eta
  -->
  <style>
  @import url(//rawcss.com/raw.css);
  @import url(//fonts.googleapis.com/css?family=Montserrat:100,400,700);
  body { font-family: 'Montserrat', sans-serif; }
  main { display: flex;flex-direction: column;align-items: center;width: 100%;height: 100%;min-height: fit-content;padding: 40px; }
  main > h1 { font-size: 80px; }
  main > hr { width: 400px; }
  table { width: 100%;border-spacing: 0;font: inherit; }
  td, tr { padding: 0; }
  .filters { display: flex;align-items: center;justify-content: center; }
  .filters > * { margin: 4px; }
  .filters input { width: 34px;padding: 2px; }
  .filters select { width: 60px;padding: 2px; }
  .filters hr { height: 24px;border-left: var(--border); }
  .member { display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;border-radius: 50%;background: #d9d9d9;font-size: 12px; }
  .report { width: 500px;margin: 16px; }
  .card { margin-bottom: 8px; }
  .card :first-child { word-break: break-word;hyphens: auto;width: 82%; }
  .card :nth-child(2) { text-align: center;width: 10%; }
  .card :nth-child(3) { text-align: center;width: 8%; }
  .card::before { color: var(--cat5);font-weight: 900;content: "\27A5";margin-right: 8px; }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/vue.js"></script>
  <script src="/xtend.js"></script>
</head>

<body>
  <main>
    <h1>Apollo</h1>
    <div class="filters">
      <a v-href="{ member: member.initials }" v-for="member in cards.map(d => d.members).filter(d => d.length > 0).flat().reduce((acc, curr) => { acc[curr.id] = curr ; return acc },{})">
        <img class="member" :src="member.avatarUrl + '/50.png'" :title="member.fullName" v-if="member.avatarUrl && member.fullName !== 'Unassigned'">
        <i class="material-icons" style="color:orange;" v-else-if="member.initials === 'UA'">warning</i>
        <div class="member" v-text="member.initials" :title="member.fullName" v-else></div>
      </a>
      <hr>
      <a v-href="{ period }" v-for="period in ['W' + (+week.slice(1) + 1), week, quarter, 'Q' + (quarter.slice(1) - 1), year].filter(d => !/(W|Q)0/.test(d))">{{ period }}</a>
      <label><input :value="router.state.period" @input="router.state = Object.assign({}, router.state, { period: $event.target.value })" /></label>
      <hr>
      #<select :value="router.state.project" @input="router.state = Object.assign({}, router.state, { project: $event.target.value })">
        <option></option>
        <option :value="project" v-for="project in projects">{{ project }}</option>
      </select>
      <hr>
      <a v-href>RESET</a>
    </div>
    <hr>
    <div>
      <b>TOTAL</b>: {{ cards.map('time').sum() }}j
      <table style="margin-top: 10px" v-for="breakdown, name in breakdowns">
        <tr>
          <td><b>BRK/{{ name }}</b></td>
          <td v-for="v, k in breakdown" :tt="v.desc"> {{ k }}: <a v-href="v.filter"> {{ v.length }} <a> </td>
        </tr>
      </table>
      <hr>
      <div style="margin-top: 20px" v-for="project in display">
        <div class="report">
          <div>
            <b>{{ project.values().map(d => d.map(d => d.project)).flat().unique()[0] }}: </b>
            UA: {{ project.reduce((acc, curr) => acc = acc + curr.reduce((acc, curr) => curr.member === 'UA' ? acc = acc + 1 : acc, 0 ), 0 ) }},
            NE: {{ project.reduce((acc, curr) => acc = acc + curr.reduce((acc, curr) => curr.size === 'NE' ? acc = acc + 1 : acc, 0 ), 0 ) }},
            NC: {{ project.reduce((acc, curr) => acc = acc + curr.reduce((acc, curr) => curr.due_date === 'NC' ? acc = acc + 1 : acc, 0 ), 0 ) }},
            LATE: {{ project.reduce((acc, curr) => acc = acc + curr.reduce((acc, curr) => curr.due_date !== 'NC' & (new Date()).toISOString().slice(0, 10) > curr.due_date ? acc = acc + 1 : acc, 0 ), 0 ) }}.
          </div>
          <div class="column" v-for="(data, due_date) in project" >
            <div style="padding-left: 20px">
              <div class="row"> <em>{{ due_date }}</em></div>
              <div class="row card" v-for="card in data" style="padding-left: 20px">
                <div><a v-href="card.url" target="_blank">{{ card.task }}</a></div>
                <div>{{ card.size }}</div>
                <div class="due_date">
                  <img class="member" :src="card.members[0].avatarUrl + '/50.png'" :title="card.members[0].fullName" v-if="card.members[0].avatarUrl && card.members[0].fullName !== 'Unassigned'">
                  <i class="material-icons" style="color:orange;" v-else-if="card.members[0].initials === 'UA'">warning</i>
                  <div class="member" v-text="card.members[0].initials" :title="card.members[0].fullName" v-else></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>

  <script>
  xtend()
  // Mini Vue router
  window.router = {
    pathname: location.pathname,
    search: location.search,
  }
  window.addEventListener('click', e => {
    let el = e.target
    while (el.parentNode !== document.body) {
      if (el.href) {
        window.history.pushState({}, null, el.href)
        window.dispatchEvent(new Event('router'))
        return e.preventDefault()
      }
      el = el.parentNode
    }
  })
  window.addEventListener('popstate', e => window.dispatchEvent(new Event('router')))
  window.addEventListener('router', e => {
    router.pathname = location.pathname
    router.search = location.search
  })
  // TODO: v-href should be equal to:
  // :href="fn(...)"
  // :class="{ active: fn(...) }"
  // N2H: an input shortcut similar to v-model
  // :value="router.state.week"
  // @input="router.state = Object.assign({}, router.state, { week: $event.target.value })"
  const vhref = {} // href elements
  const uhref = ({ el, binding }) => {
    let link
    if (!binding.value) link = location.pathname
    if (is(String, binding.value)) link = binding.value
    if (is(Object, binding.value)) {
      const state = router.state.map()
      el.classList[binding.value.keys().every(k => state[k] === binding.value[k]) ? 'add' : 'remove']('active')
      binding.value.map((v, k) => state[k] === v ? delete state[k] : state[k] = v)
      link = state.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
    }
    el.classList[[location.pathname + location.search, location.search].includes(link) ? 'add' : 'remove']('exact')
    el.setAttribute('href', link)
  } // update href element
  Vue.directive('href', (el, binding, vnode) => uhref(vhref[vnode.key] = { el, binding }))
  Vue.mixin({
    data() {
      router.state = {}
      return { router }
    },
    watch: {
      'router.search': {
        handler(next) {
          router.state = (router.search || '?').slice(1).split('&').filter().reduce((acc, str) => { const [k, v] = str.split('=');acc[k] = v;return acc }, {})
        },
        immediate: true,
      },
      'router.state': {
        handler(next) {
          if (same({}, next)) return
          const link = next.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
          if (link === router.search) return
          window.history.pushState({}, null, link)
          window.dispatchEvent(new Event('router'))
        },
        deep: true,
      },
    },
  })

  Date.prototype.getWeek = function() {
    const onejan = new Date(this.getFullYear(), 0, 1)
    return Math.ceil(((this - onejan) / 86400000 + onejan.getDay() + 1) / 7)
  }
  Date.prototype.getQuarter = function() {
    return Math.ceil((this.getMonth() + 1) / 3)
  }
  String.prototype.computeEfficiency = function(size) {
    const efficiency={ "VB": 2, "CJ": 1, "D": 0.75, "LG": 0.75, "MK": 0.5 }
    return size === 'S' ? efficiency[this]||1 * 0.25 : size === 'M' ? efficiency[this]||1 * 0.5 : size === 'L' ? efficiency[this]||1 * 1 : size === 'XL' ? efficiency[this]||1 * 2 : 0
  }

  window.vm = new Vue({
    el: 'main',
    data: {
      trello: null,
      week: 'W' + new Date().getWeek(),
      quarter: 'Q' + new Date().getQuarter(),
      year: new Date().getFullYear(),
    },
    computed: {
      cards() {
        try {
          const trello = this.trello
          let period, year
          if (/W\d/.test(router.state.period)) period = [router.state.period]
          if (/Q\d/.test(router.state.period)) period = Array(13).fill(0).map((d, i) => 'W' + (13 * (router.state.period.slice(1) - 1) + i + 1))
          if (/\d{4}/.test(router.state.period)) year = +router.state.period
          return trello
            .map(board => {
              board.members.push({ "id": "Unassigned", "initials": "UA", "fullName": "Unassigned" })
              return board.cards.map(card => {
                const task = card.name
                const url = card.shortUrl
                const project = board.name.split('-')[1].trim()
                const members = card.idMembers.length > 0 ? (card.idMembers || []).map(mid => board.members.find(d => d.id === mid)) : [{ "id": "Unassigned", "initials": "UA", "fullName": "Unassigned" }]
                const member = (members[0] || { "id": "Unassigned", "initials": "UA", "fullName": "Unassigned" }).initials
                const size = card.labels[0] ? card.labels[0].name : 'NE'
                const time = member.computeEfficiency(size)
                const status = board.lists.find(d => d.id === card.idList).name
                const due_date = card.due ? card.due.slice(0, 10) : 'NC'
                const week = card.due ? 'W'+ new Date(card.due).getWeek() : ''
                const year = card.due ? +card.due.slice(0, 4) - (week >= 'W50' && card.due.slice(5, 7) === '01' ? 1 : 0) : ''
                const closed = card.closed
                return { project, task, url, size, time, status, due_date, members, member, week, year, closed }
              })
              .filter(d => !router.state.project || d.project === router.state.project)
              .filter(d => !router.state.member || d.member === router.state.member)
              .filter(d => !period || period.includes(d.week))
              .filter(d => !year || d.year === year)
              .filter(d => !router.state.size || d.size === router.state.size)
              .filter(d => !router.state.due_date || (d.due_date !== 'NC' ? router.state.due_date > d.due_date : false))
              .filter(d => !d.closed)
              .filter(d => d.status.toUpperCase() !== 'DONE' && d.status.toUpperCase() !== 'VALIDATED' && !d.status.toUpperCase().startsWith('FEATURE'))
            }).flat(Infinity)
        } catch(e) { return [] }
      },
      projects() {
        try {
          const trello = this.trello
          return trello
            .map(d => d.name.split('-')[1].trim())
            .unique()
            .sort()
        } catch(e) { return [] }
      },
      breakdowns() {
        try {
          const today = new Date().toISOString().slice(0, 10)
          const UA = this.cards.filter(d => d.member === 'UA')
          const NE = this.cards.filter(d => d.time === 0)
          const NC = this.cards.filter(d => d.due_date === 'NC')
          const LATE = this.cards.filter(d => today > d.due_date)
          return {
            TYPE: {
              UA: { length: UA.length, filter: { member: "UA" }, desc: 'These tickets need to be assigned.' },
              NE: { length: NE.length, filter: { size: "NE" }, desc: 'These tickets need to be estimated.' },
              NC: { length: NC.length, filter: {due_date: "NC" }, desc: 'These tickets need an ETA.' },
              LATE: { length: LATE.length, filter: { due_date: today }, desc: 'Unlucky... SLA is missed for those tickets.' },
            },
          }
        } catch(e) { console.error(e);return {} }
      },
      display() {
        try {
          const trello = this.trello
          const perproject = this.cards.groupBy('project').values().sortBy(grp => -grp.length).map(proj => proj.sortBy('due_date').groupBy('due_date'))
          return perproject
        } catch(e) { console.log(e);return [] }
      }
    },
    mounted() {
      const token = '046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c'
      const teams = 'https://api.trello.com/1/members/me/organizations?key='+token
      const monitored_team = '100msupport'
      fetch(teams)
        .then(r => r.json())
        .then(json => json.filter(d => d.name === monitored_team)[0].idBoards.map(d => 'https://api.trello.com/1/boards/' + d + '?key=' + token + '&cards=all&lists=all&members=all'))
        .then(boards => Promise.all(boards.map(d => fetch(d))).then(r => Promise.all(r.map(res => res.json()))))
        .then(r => this.trello = r)
    },
  })
  </script>
</body>
