<!--
Chronos is a project scheduling / following tool

It should:

Retrieve information from:
- 1 board
- 4 calendars
- 2 github response_type
With Trello + Google + Github Auth

Display information of:
- Period (1Y / 1Q / 1M / 1W)
- Projects
- Man Days
- Forecast

Allow input:
- Forecast (1Q > Futur projects)
- Planning (2W > Allocation)

Trello:
https://trello.com/1/authorize?expiration=never&name=Chronos&scope=read&response_type=token&key=046e2330907f0ebb73bd1f18947a4308
https://api.trello.com/1/members/me/?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c
https://api.trello.com/b/A2C5zxQN/100m-production.json?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c&fields=all&actions=all&action_fields=all&actions_limit=1000&cards=all&card_fields=all&card_attachments=true&lists=all&list_fields=all&members=all&member_fields=all&checklists=all&checklist_fields=all&organization=false
-->
<style>
@import url(//rawcss.com/raw.css);
@import url(//fonts.googleapis.com/css?family=Montserrat:100,400,700);
body { font-family: 'Montserrat', sans-serif; }
main { display: flex;flex-direction: column;align-items: center;width: 100%;height: 100%;min-height: fit-content;padding: 40px; }
main > h1 { font-size: 80px; }
main > hr { width: 400px; }
table { width: 100%;border-spacing: 0;font: inherit; }
td, tr { padding: 0; }
.filters { display: flex;align-items: center;justify-content: center; }
.filters > * { margin: 4px; }
.filters input { width: 34px;padding: 2px; }
.filters select { width: 60px;padding: 2px; }
.filters hr { height: 24px;border-left: var(--border); }
.member { display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;border-radius: 50%;background: #d9d9d9;font-size: 12px; }
.report { width: 400px; }
.report .line > :first-child { flex: 1;word-break: break-word;hyphens: auto; }
.report .line > :nth-child(n+2) { width: 40px; }
</style>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/xtendjs"></script>
<main>
  <h1>Chronos</h1>
  <div class="filters">
    <a v-href="{ member: member.initials }" v-for="member in trello.members.filter(d => !['CM', 'VD', 'WV'].includes(d.initials))">
      <img class="member" :src="member.avatarUrl + '/50.png'" :title="member.fullName" v-if="member.avatarUrl">
      <div class="member" v-text="member.initials" :title="member.fullName" v-else></div>
    </a>
    <hr>
    <a v-href="{ period }" v-for="period in [week, 'W' + (week.slice(1) - 1), quarter, 'Q' + (quarter.slice(1) - 1), year].filter(d => !/(W|Q)0/.test(d))">{{ period }}</a>
    <label><input :value="router.state.period" @input="router.state = Object.assign({}, router.state, { period: $event.target.value })" /></label>
    <hr>
    #<select :value="router.state.project" @input="router.state = Object.assign({}, router.state, { project: $event.target.value })">
      <option></option>
      <option :value="project" v-for="project in projects">{{ project }}</option>
    </select>
    <hr>
    <a v-href>RESET</a>
  </div>
  <hr>
  <div class="report">
    <table>
      <tr>
        <td style="font-weight: 600;">BRK/TYPE</td>
        <td v-for="v, k in breakdown">{{ k }}: {{ v }}j</td>
      </tr>
    </table>
    <table style="margin-top: 10px">
      <tr>
        <td style="font-weight: 600;">BRK/DEV</td>
        <td v-for="grp in cards.sortBy(d => d.members[0].initials).groupBy(d => d.members[0].initials)">{{ grp[0].members[0].initials }}: {{ grp.map('time').sum() }}j</td>
      </tr>
    </table>
    <hr>
    <table style="margin-top: 20px" v-for="group in cards.groupBy('project').values().sortBy(grp => -grp.map('time').sum())">
      <tr>
        <td style="font-weight: 600;">{{ group[0].project }}: {{ group.map('time').sum() }}j</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line" v-for="card in group">
        <td style="padding-left: 20px">- {{ card.task }}</td>
        <td>{{ card.members.map('initials').join('+') }}</td>
        <td>{{ card.time }}j</td>
      </tr>
    </table>
  </div>
</main>
<script>
xtend()
// Mini Vue router
window.router = {
  pathname: location.pathname,
  search: location.search,
}
window.addEventListener('click', e => {
  let el = e.target
  while (el.parentNode !== document.body) {
    if (el.href) {
      window.history.pushState({}, null, el.href)
      window.dispatchEvent(new Event('router'))
      return e.preventDefault()
    }
    el = el.parentNode
  }
})
window.addEventListener('popstate', e => window.dispatchEvent(new Event('router')))
window.addEventListener('router', e => {
  router.pathname = location.pathname
  router.search = location.search
})
// TODO: v-href should be equal to:
// :href="fn(...)"
// :class="{ active: fn(...) }"
// N2H: an input shortcut similar to v-model
// :value="router.state.week"
// @input="router.state = Object.assign({}, router.state, { week: $event.target.value })"
const vhref = {} // href elements
const uhref = ({ el, binding }) => {
  let link
  if (!binding.value) link = location.pathname
  if (is(String, binding.value)) link = binding.value
  if (is(Object, binding.value)) {
    const state = router.state.map()
    el.classList[binding.value.keys().every(k => state[k] === binding.value[k]) ? 'add' : 'remove']('active')
    binding.value.map((v, k) => state[k] === v ? delete state[k] : state[k] = v)
    link = state.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
  }
  el.classList[[location.pathname + location.search, location.search].includes(link) ? 'add' : 'remove']('exact')
  el.setAttribute('href', link)
} // update href element
Vue.directive('href', (el, binding, vnode) => uhref(vhref[vnode.key] = { el, binding }))
Vue.mixin({
  data() {
    router.state = {}
    return { router }
  },
  watch: {
    'router.search': {
      handler(next) {
        router.state = (router.search || '?').slice(1).split('&').filter().reduce((acc, str) => { const [k, v] = str.split('=');acc[k] = v;return acc }, {})
      },
      immediate: true,
    },
    'router.state': {
      handler(next) {
        if (same({}, next)) return
        const link = next.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
        if (link === router.search) return
        window.history.pushState({}, null, link)
        window.dispatchEvent(new Event('router'))
      },
      deep: true,
    },
  },
})

const doy = (d = new Date()) => (Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()) - Date.UTC(d.getFullYear(), 0, 0)) / 24 / 60 / 60 / 1000
const week = (d = new Date()) => Math.ceil(doy(d) / 7)
const quarter = (d = new Date()) => Math.ceil(doy(d) / 365 * 4)
new Vue({
  el: 'main',
  data: {
    trello: {},
    week: 'W' + week(),
    quarter: 'Q' + quarter(),
    year: new Date().getFullYear(),
  },
  computed: {
    cards() {
      try {
        const trello = this.trello
        let period, year
        if (same({}, router.state)) period = [this.week]
        if (/W\d/.test(router.state.period)) period = [router.state.period]
        if (/Q\d/.test(router.state.period)) period = Array(13).fill(0).map((d, i) => 'W' + (13 * (router.state.period.slice(1) - 1) + i + 1))
        if (/\d{4}/.test(router.state.period)) year = +router.state.period
        return trello.cards
          .filter(d => /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(d.name))
          .map(card => {
            const matches = /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(card.name)
            const project = matches[1].trim()
            const task = matches[2].trim()
            const time = +matches[3]
            const week = trello.lists.find(d => d.id === card.idList).name
            const year = +card.dateLastActivity.slice(0, 4) - (week >= 'W50' && card.dateLastActivity.slice(5, 7) === '01' ? 1 : 0)
            const members = card.idMembers.map(mid => trello.members.find(d => d.id === mid))
            return { project, task, time, week, year, members }
          })
          .filter(d => /^W\d+$/.test(d.week))
          .filter(d => d.members.length) // TODO: clean cards without assignment
          .filter(d => !router.state.project || d.project === router.state.project) // TODO: clean cards without assignment
          .filter(d => !router.state.member || d.members[0].initials === router.state.member)
          .filter(d => !period || period.includes(d.week))
          .filter(d => !year || d.year === year)
      } catch(e) { return [] }
    },
    projects() {
      try {
        const trello = this.trello
        return trello.cards
          .filter(d => /^W\d+$/.test(trello.lists.find(list => list.id === d.idList).name))
          .filter(d => /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(d.name))
          .map(d => d.name.split('-')[0].trim())
          .unique()
          .sort()
      } catch(e) { return [] }
    },
    breakdown() {
      try {
        const support_id = this.trello.lists.find(d => d.name === 'SUPPORT').id
        const run_projects = this.trello.cards.filter(d => d.idList === support_id).map(d => d.name.split(' - ')[0]).filter(d => d.length <= 4)
        const INVEST = this.cards.filter(d => d.project.length > 4 || ['100M', 'SPEC'].includes(d.project))
        const RUN = this.cards.filter(d => !INVEST.includes(d)).filter(d => run_projects.includes(d.project))
        const PROD = this.cards.filter(d => !INVEST.includes(d) && !RUN.includes(d))
        return {
          INVEST: INVEST.map('time').sum(),
          PROD: PROD.map('time').sum(),
          RUN: RUN.map('time').sum()
        }
      } catch(e) { return {} }
    },
  },
  mounted() {
    fetch('https://trello.com/b/A2C5zxQN/100m-production.json?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c&cards=all&lists=all&members=all')
    .then(r => r.json())
    .then(json => window.trello = this.trello = json)
  },
})
</script>
