<!--
Chronos is a project scheduling / following tool

It should:

Retrieve information from:
- 1 board
- 4 calendars
- 2 github response_type
With Trello + Google + Github Auth

Display information of:
- Period (1Y / 1Q / 1M / 1W)
- Projects
- Man Days
- Forecast

Allow input:
- Forecast (1Q > Futur projects)
- Planning (2W > Allocation)

Trello:
https://trello.com/1/authorize?expiration=never&name=Chronos&scope=read&response_type=token&key=046e2330907f0ebb73bd1f18947a4308
https://api.trello.com/1/members/me/?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c
https://api.trello.com/b/A2C5zxQN/100m-production.json?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c&fields=all&actions=all&action_fields=all&actions_limit=1000&cards=all&card_fields=all&card_attachments=true&lists=all&list_fields=all&members=all&member_fields=all&checklists=all&checklist_fields=all&organization=false
-->
<style>
@import url(//rawcss.com/raw.css);
@import url(//fonts.googleapis.com/css?family=Montserrat:100,400,700);
body { font-family: 'Montserrat', sans-serif; }
main { display: flex;flex-direction: column;align-items: center;width: 100%;height: 100%;min-height: fit-content;padding: 40px; }
main > h1 { font-size: 80px; }
main > hr { width: 400px; }
.filters { display: flex;align-items: center;justify-content: center; }
.filters > * { margin: 4px; }
.filters input { width: 34px;padding: 2px; }
.filters select { width: 60px;padding: 2px; }
.filters hr { height: 24px;border-left: var(--border); }
.member { display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;border-radius: 50%;background: #d9d9d9;font-size: 12px; }
.report { width: 600px; }
.report .line > :first-child { flex: 1;word-break: break-word;hyphens: auto; }
.report .line > :nth-child(n+2) { width: 40px; }
</style>
<script src="/vue.js"></script>
<script src="/xtend.js"></script>
<main>
  <h1>Chronos</h1>
  <div class="filters">
    <a v-href="{ member: member.initials }" v-for="member in trello && trello.members && trello.members.filter(d => !['CM', 'VD', 'WV'].includes(d.initials))">
      <img class="member" :src="member.avatarUrl + '/50.png'" :title="member.fullName" v-if="member.avatarUrl">
      <div class="member" v-text="member.initials" :title="member.fullName" v-else></div>
    </a>
    <hr>
    <a v-href="{ period }" v-for="period in [week, 'W' + (week.slice(1) - 1), quarter, 'Q' + (quarter.slice(1) - 1), year].filter(d => !/(W|Q)0/.test(d))">{{ period }}</a>
    <label><input :value="router.state.period" @input="router.state = Object.assign({}, router.state, { period: $event.target.value })" /></label>
    <hr>
    #<select :value="router.state.project" @input="router.state = Object.assign({}, router.state, { project: $event.target.value })">
      <option></option>
      <option :value="project" v-for="project in projects">{{ project }}</option>
    </select>
    <hr>
    <a v-href>RESET</a>
  </div>
  <hr>
  <div class="report">
    <b>TOTAL</b>: {{ cards.map('time').sum() }}j
    <table style="margin-top: 10px" v-for="breakdown, name in breakdowns">
      <tr>
        <td><b>BRK/{{ name }}</b></td>
        <td v-for="v, k in breakdown">{{ k }}: {{ v }}j</td>
      </tr>
    </table>
    <hr>
    <table style="margin-top: 20px" v-for="cards in display">
      <tr>
        <td><b>{{ cards[0].day || cards[0].project }}: {{ cards.map('time').sum() }}j</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line" v-for="card in cards">
        <td style="padding-left: 20px">- {{ card.task }}<b style="float: right;margin-right: 10px;" v-if="card.day">{{ card.project }}</b></td>
        <td>{{ card.member }}</td>
        <td>{{ card.time }}j</td>
      </tr>
    </table>
  </div>
</main>
<script>
xtend()
// Mini Vue router
window.router = {
  pathname: location.pathname,
  search: location.search,
}
window.addEventListener('click', e => {
  let el = e.target
  while (el.parentNode !== document.body) {
    if (el.href) {
      window.history.pushState({}, null, el.href)
      window.dispatchEvent(new Event('router'))
      return e.preventDefault()
    }
    el = el.parentNode
  }
})
window.addEventListener('popstate', e => window.dispatchEvent(new Event('router')))
window.addEventListener('router', e => {
  router.pathname = location.pathname
  router.search = location.search
})
// TODO: v-href should be equal to:
// :href="fn(...)"
// :class="{ active: fn(...) }"
// N2H: an input shortcut similar to v-model
// :value="router.state.week"
// @input="router.state = Object.assign({}, router.state, { week: $event.target.value })"
const vhref = {} // href elements
const uhref = ({ el, binding }) => {
  let link
  if (!binding.value) link = location.pathname
  if (typeof binding.value === 'string') link = binding.value
  if (typeof binding.value === 'object') {
    const state = router.state.map()
    el.classList[binding.value.keys().every(k => state[k] === binding.value[k]) ? 'add' : 'remove']('active')
    binding.value.map((v, k) => state[k] === v ? delete state[k] : state[k] = v)
    link = state.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
  }
  el.classList[[location.pathname + location.search, location.search].includes(link) ? 'add' : 'remove']('exact')
  el.setAttribute('href', link)
} // update href element
Vue.directive('href', (el, binding, vnode) => uhref(vhref[vnode.key] = { el, binding }))
Vue.mixin({
  data() {
    router.state = {}
    return { router }
  },
  watch: {
    'router.search': {
      handler(next) {
        router.state = (router.search || '?').slice(1).split('&').filter().reduce((acc, str) => { const [k, v] = str.split('=');acc[k] = v;return acc }, {})
      },
      immediate: true,
    },
    'router.state': {
      handler(next) {
        if (!next.keys().length) return
        const link = next.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
        if (link === router.search) return
        window.history.pushState({}, null, link)
        window.dispatchEvent(new Event('router'))
      },
      deep: true,
    },
  },
})

Date.prototype.getWeek = function() {
  const dec31 = new Date(this.getFullYear(), 0, 0)
  return Math.ceil(((this - dec31) / 86400000 + (dec31.getDay() > 3 ? dec31.getDay() - 7 : dec31.getDay())) / 7)
}
Date.prototype.getQuarter = function() {
  return Math.ceil((this.getMonth() + 1) / 3)
}
new Vue({
  el: 'main',
  data: {
    trello: null,
    week: 'W' + new Date().getWeek(),
    quarter: 'Q' + new Date().getQuarter(),
    year: new Date().getFullYear(),
  },
  computed: {
    cards() {
      try {
        const trello = this.trello
        let period, year
        if (!router.state.period && !router.state.project) period = [this.week]
        if (/W\d/.test(router.state.period)) period = [router.state.period]
        if (/Q\d/.test(router.state.period)) period = Array(13).fill(0).map((d, i) => 'W' + (13 * (router.state.period.slice(1) - 1) + i + 1))
        if (/\d{4}/.test(router.state.period)) year = +router.state.period
        return trello.cards
          .filter(d => /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(d.name))
          .map(card => {
            const matches = /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(card.name)
            const project = matches[1].trim()
            const task = matches[2].trim()
            const time = +matches[3]
            const week = trello.lists.find(d => d.id === card.idList).name
            const year = +card.dateLastActivity.slice(0, 4) - (week >= 'W50' && card.dateLastActivity.slice(5, 7) === '01' ? 1 : 0)
            const members = (card.idMembers || []).map(mid => trello.members.find(d => d.id === mid))
            const member = (members[0] || {}).initials
            return { project, task, time, week, year, members, member }
          })
          .filter(d => /^W\d+$/.test(d.week))
          .filter(d => d.members.length) // TODO: clean cards without assignment
          .filter(d => !router.state.project || d.project === router.state.project)
          .filter(d => !router.state.member || d.member === router.state.member)
          .filter(d => !period || period.includes(d.week))
          .filter(d => !year || d.year === year)
      } catch(e) { return [] }
    },
    projects() {
      try {
        const trello = this.trello
        return trello.cards
          .filter(d => /^W\d+$/.test(trello.lists.find(list => list.id === d.idList).name))
          .filter(d => /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(d.name))
          .map(d => d.name.split('-')[0].trim())
          .unique()
          .sort()
      } catch(e) { return [] }
    },
    breakdowns() {
      try { // $('main').__vue__.cards
        const INVEST = this.cards.filter(d => ['100M', 'NX'].includes(d.project))
        const RUN = this.cards.filter(d => !INVEST.includes(d)).filter(d => d.project === 'RUN')
        const PROD = this.cards.filter(d => !INVEST.includes(d)).filter(d => d.project !== 'RUN')
        return {
          TYPE: {
            INVEST: INVEST.map('time').sum(),
            PROD: PROD.map('time').sum(),
            RUN: RUN.map('time').sum(),
          },
          DEV: this.cards.sort(d => d.member).group(d => d.member).map(grp => grp.map('time').sum())
        }
      } catch(e) { return {} }
    },
    display() {
      try {
        const trello = this.trello
        const perproject = this.cards.group('project').values().sort(grp => -grp.map('time').sum())
        if (/^W\d+$/.test(router.state.period) || /^\d{4}$/.test(router.state.period) || router.state.project) return perproject
        if (/^Q\d+$/.test(router.state.period)) {
          const forecast = trello.cards.find(card => card.name === router.state.period).desc.split('-').filter().map(d => d.trim().split(' '))
          const other = this.cards
            .filter(d => !forecast.map(d => d[0]).includes(d.project))
            .group('project')
            .values().map(grp => ({
              member: '',
              project: 'OTHER',
              task: grp[0].project,
              time: grp.map('time').sum(),
            })).sort('-time')
          return [forecast.map(d => ({ project: 'FORECAST', task: d[0], member: this.cards.filter(card => card.project === d[0]).map('time').sum(), time: +d[1] })), other]
        }

        const perday = this.cards
          .filter(d => !router.state.member || d.member === router.state.member)
          .sort(d => d.member)
          .reduce((acc, card) => {
            const mandays = acc.flat(Infinity).filter(d => d.member === card.member).map('time').sum()
            const i = Math.floor(mandays)
            const decimal = mandays - i
            card.day = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'][i]
            if (!acc[i]) acc[i] = []
            if (decimal + card.time > 1) {
              const rest = 1 - decimal
              if (rest) acc[i].push({ ...card, time: rest })
              if (!acc[i + 1]) acc[i + 1] = []
              card.day = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'][i + 1]
              acc[i + 1].push({ ...card, time: card.time - rest })
              return acc
            }
            acc[i].push(card)
            return acc
          }, [])
        const doing_id = trello.lists.find(d => d.name === 'DOING').id
        const doing = trello.cards
          .filter(card => card.idList === doing_id)
          .map(card => {
            const project = card.name.split(' - ')[0]
            const task = card.name.split(' - ')[1].replace(/\[([.0-9]+).*\]/, '').trim()
            const timematch = /\[([.0-9]+).*\]/.exec(card.name)
            const time = timematch ? +timematch[1] : 0
            const day = 'DOING'
            const members = (card.idMembers || []).map(mid => trello.members.find(d => d.id === mid))
            const member = (members[0] || {}).initials
            return { project, task, time, day, members, member }
          })
          .filter(d => d.members.length)
          .filter(d => !router.state.member || d.member === router.state.member)
        return perday.concat([doing]).filter(d => d.length).reverse()
      } catch(e) { return [] }
    }
  },
  mounted() {
    fetch('https://trello.com/b/dn8XQPP7/100m-prod.json?key=046e2330907f0ebb73bd1f18947a4308&token=b9a259e4ee2d0923b563e963196163bfbd988a4633f54b7916d26752f2d3315c&cards=all&lists=all&members=all')
    .then(r => r.json())
    .then(json => window.trello = this.trello = json)
  },
})
</script>
