@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
html { font-family: Lato; }
body { font-size: 1.6rem; }
h1 { font-size: 2.6rem;letter-spacing: 1.1px;line-height: 1.4; }
em { font-style: normal;color: var(--primary); }
strong { font-style: normal; }
hr { border-top: 1px dashed var(--primary); }
@media (min-width: 600px) { body { font-size: 1.8rem; } h1 { font-size: 4rem; } }

/* Doc specific */
h1, h2 { text-align: center; }
section { width: 70rem;min-height: 100vh;padding: 20px;border-bottom: 1px dashed var(--primary); }
code.lang-html { white-space: pre-line; }
code.demo { border: 3px dashed #fd4; }
[tag] { cursor: pointer;pointer-events: all;font-size: 80%; }

section:first-child h1:first-child::before { content: ' ';z-index: -1;position: absolute;top: 0;left: 0;width: 100vw;height: 400px;background-image: url(/extra/prez/01.jpg);background-position: center;background-size: cover; }
section:first-child h1:first-child { margin-top: 250px;margin-bottom: 100px; }
@media (min-width: 600px) { section:first-child h1:first-child { margin-top: 150px; } section:first-child h1:first-child::before { top: -100px; } }

kbd { display: inline-block;padding: 0 .5rem;border: var(--border);border-radius: 2px;background: var(--background-2);color: var(--dark-text-1);text-transform: none;font-weight: 300;font-size: 1.2rem;font-family: monospace;line-height: 1.8; }
kbd { padding: .1em .6em;margin: 0 .1em;color: #333;text-shadow: 0 1px 0 #fff;background-color: #f7f7f7;border: 1px solid #ccc;box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;white-space: nowrap; }
p { margin-bottom: 8px; }
h1, table, ul { margin-bottom: 24px; }
table thead { display: none; }
code { word-break: break-word; }
